
<!DOCTYPE html>
<html>
<head><script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setSiteSpeedSampleRate',100]);</script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Andrew J Kerr | Home</title>
<meta name="viewport" content="width=device-width">
<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="http://www.andrewjkerr.com/css/A.syntax.css+main.css,Mcc.xslNO5uuVC.css.pagespeed.cf.xA_mgzN1-A.css"/>
<!-- Custom CSS -->
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Infinite jekyll -->
<script>//<![CDATA[
$(function(){var postURLs,isFetchingPosts=false,shouldFetchPosts=true,postsToLoad=$(".posts").children().length,loadNewPostsThreshold=3000;$.getJSON('/all-posts.json',function(data){postURLs=data["posts"];if(postURLs.length<=postsToLoad)
disableFetching();});if($(".infinite-spinner").length<1)
shouldFetchPosts=false;$(window).scroll(function(e){if(!shouldFetchPosts||isFetchingPosts)return;var windowHeight=$(window).height(),windowScrollPosition=$(window).scrollTop(),bottomScrollPosition=windowHeight+windowScrollPosition,documentHeight=$(document).height();if((documentHeight-loadNewPostsThreshold)<bottomScrollPosition){fetchPosts();}});function fetchPosts(){if(!postURLs)return;isFetchingPosts=true;var loadedPosts=0,postCount=$(".posts").children().length,callback=function(){loadedPosts++;var postIndex=postCount+loadedPosts;if(postIndex>postURLs.length-1){disableFetching();return;}
if(loadedPosts<postsToLoad){fetchPostWithIndex(postIndex,callback);}else{isFetchingPosts=false;}};fetchPostWithIndex(postCount+loadedPosts,callback);}
function fetchPostWithIndex(index,callback){var postURL=postURLs[index];$.get(postURL,function(data){$(data).find(".post").appendTo(".posts");callback();});}
function disableFetching(){shouldFetchPosts=false;isFetchingPosts=false;$(".infinite-spinner").fadeOut();}});
//]]></script>
</head>
<body>
<div class="site">
<div class="header">
<h1>ANDREW J KERR</h1>
<p id="description">software engineering student at the university of florida</p>
<a class="nav-item" href="/">Home</a> | <a class="nav-item" href="/blog">Blog</a> | <a class="nav-item" href="http://www.github.com/andrewjkerr">Projects</a> | <a class="nav-item" href="http://www.andrewjkerr.com/resume.pdf">Resume</a> | <a class="nav-item" href="http://www.cloudflare.com/email-protection#a1c0cfc5d3c4d6cbcac4d3d39596e1c6ccc0c8cd8fc2cecc">Contact</a>
</div>
<hr/>
<br/>
<div id="home">
<h2>Hello, World!</h2>
<p>Hello there stranger! You've seem to stumble upon my webpage.</p>
<p>My name is Andrew Kerr and I am a <b>junior at <a href="http://www.ufl.edu">the University of Florida</a> studying Software Engineering</b> with an expected graduation of December 2015. I currently work as a <b>Student Technician for <a href="http://at.ufl.edu">Academic Technology</a></b> where I assist with the departmental IT needs. Over the summer of 2013, I worked as the <b>E-Commerce Mobile Scrum Team Intern at <a href="https://www.officedepot.com">Office Depot.</a></b> I specialize in <b>Web Development</b> and <b>Java.</b></p>
<p>I am an officer of several student organizations including:
<ul>
<li><a href="http://www.ufhack.org">The Student Information Security Team</a> (aka <a href="http://ctftime.org/team/397">Kernel Sanders</a>)</li>
<li><a href="http://www.flegacy.org">The Freshman Leadership Engineering Group</a></li>
<li><a href="http://ieee.ece.ufl.edu">The Institute of Electrical and Electronics Engineers</a></li>
</ul>
</p>
<p>And learning more about:
<ul>
<li><a href="https://github.com/andrewjkerr/andrewjkerr.github.io">jekyll</a></li>
<li><a href="https://github.com/andrewjkerr/uf-eweek">PHP/MySQL</a></li>
<li>Python, Django, Flask, and web.py</li>
<li>Ruby, Rails, and Sinatra</li>
</ul>
</p>
<p>My interests include <a href="https://www.last.fm/user/andrewjkerr47">music</a>, security, programming, and <a href="https://news.ycombinator.com/">keeping up on the latest tech news.</a>
<p>Feel free to contact me by <a href="http://www.cloudflare.com/email-protection#8feee1ebfdeaf8e5e4eafdfdbbb8cfe8e2eee6e3a1ece0e2">email</a>, <a href="https://www.twitter.com/andrewuf">@andrewuf</a> on Twitter, or on <a href="https://www.linkedin.com/in/andrewjkerr47">LinkedIn.</a></p>
</div>
<div class="footer">
<br/>
<hr/>
<div class="contact">
<p>
Andrew J Kerr | Gator Engineer<br/>
<a href="https://www.twitter.com/andrewuf">@andrewuf</a> |
<a href="https://www.github.com/andrewjkerr">GitHub</a><br/>
<a href="http://www.cloudflare.com/email-protection#c1a0afa5b3a4b6abaaa4b3b3f5f681a6aca0a8adefa2aeac">andrewjkerr47 AT gmail DOT com</a><br/>
Built with <a href="http://jekyllrb.com/">jekyll</a> | View on <a href="https://github.com/andrewjkerr/andrewjkerr.github.io">GitHub</a>
</p>
</div>
<div class="posts-footer">
<li><span>10 Jan 2014</span> &raquo; <a href="/updates/2014/01/10/looking-to-the-future.html">Looking to the Future</a></li>
<li><span>23 Dec 2013</span> &raquo; <a href="/jekyll/update/2013/12/23/welcome-to-jekyll.html">Welcome to Jekyll!</a></li>
</div>
</div>
</div>
<script type="text/javascript">if(window.parent==window){var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-36546699-1']);_gaq.push(['_setDomainName','www.andrewjkerr.com']);_gaq.push(['_setAllowLinker',true]);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src='http://www.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();}</script><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&"www.cloudflare.com/email-protection"==a.substr(7 ,35)){s='';j=43;r=parseInt(a.substr(j,2),16);for(j+=2;a.length-j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>
